

{block content}
{if isset($password) && $password}
	<div class="ok">Vaše odměna... Heslo je: {$password}</div>
{/if}
<p><b>Nahrajte nám sem nějaký pěkný obrázek/fotku/memečko/gag, který se bude líbit a vaše odměna vás nemine! Nezapomínejte obnovovat stránku pro nové přírustky.</b> <a href="{plink Sign:out}">Odhlásit</a></p>
<p>Pravidla:</p>
<ul>
	<li>Každý tým může nahrát až 10 obrázků.</li>
	<li>Povolené formáty jsou: JPEG, PNG, GIF.</li>
	<li>Velikost obrázku musí být do 2 MB.</li>
	<li>Nevhodné obrázky (urážlivé,...) budou smazány a tým bude diskvalifikován.</li>
</ul>

<div class="hr" />

{control uploadForm}

<div class="hr" />

<h2>Právě v kurzu (aka trendy)</h2>

{if count($trending) > 0}
	{foreach $trending as $post}
		{include 'item.latte', item => $post}
	{/foreach}
{else}
	<p><i>Momentálně není nic zajímavého a trendy ;-)</i></p>
{/if}

<div class="hr" />

<h2>Vše od začátku věků</h2>

{if count($history) > 0}
	{foreach $history as $post}
		{include 'item.latte', item => $post}
	{/foreach}
{else}
	<p><i>Historie čeká na odvážné!</i></p>
{/if}

{/block}
